@model mvc_edison_test.Models.ExtraRating

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm())
    {
        <p>Игра &quot;Загадай число&quot;</p>
        <hr />
        <p>Загадайте двузначное число и нажмите кнопку &quot;Загадал&quot;</p>
        <input type="submit" value="Загадал" @Model.EnableButton />
        if (@Model.EnableButton == "disabled")
        {
            <hr />
            <p>Экстрасенсы пытаются угадать число...</p>
            for (int i = 0; i < @Model.ExtrasensData.Length; i++)
            {
                <p>Экстрасенс @(i+1) думает, что это число:@Model.ExtrasensData[i].extraNum</p>
            }
            <p>Давайте проверим, угадал ли кто из наших экстрасенсов загаданное Вами число. Введите Ваше двузначное число в поле и нажмите кнопку "Отправить"</p>
            <p>@Html.ValidationSummary()</p>
            <input id="GamerNum" name="GamerNum" type="text" value="" />
            <input type="submit" value="Отправить" />
        }
        <hr />
        <p>Загаданные Вами числа ранее:@Model.GamerHistory</p>
        for (int i = 0; i < @Model.ExtrasensData.Length; i++)
        {
            <p>Экстрасенс @(i+1), текущий уровень достоверности:@Model.ExtrasensData[i].extraRate.ToString()</p>
            <p>Экстрасенс @(i+1), история догадок:@Model.ExtrasensData[i].extraHistory</p>
        }
    }
</div>

